/**
 *
 */

#nodejs-debug {
  border: 1px solid #ccc;
}

.nodejs-debug-item {
  background: #f5f5f5;
  margin: 15px 0;
  padding: 5px;
}


.nodejs-debug-item-data {
  font-size: 9px;
}

.nodejs-debug-tips {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

/* Backgrounds */
.nodejs-debug-item-yellow {
  background: #f6ff62;
}
